
body {
    text-align: left;
    letter-spacing: -0.01em;
}
table.center {
    margin-right: auto;
    margin-left: auto;
}
table {
    table-layout: auto;
    border-collapse: collapse;
    border: 3px solid;
}

th, td {
    padding: 7px;
    border: 1px #999 solid;
    border-collapse: collapse;
}


code {
    font-family: "Monaspace Neon", monospace;
    color: #00B3B3;
}

pre code {
    display: block;
    box-sizing: border-box;
    border: 1px solid #0aa;
    border-radius: 4px;
    background-color: #1c1f1f;
    padding: 3px 3px;
    overflow: scroll;
}

blockquote {
    border-left: 2px solid #d8d8da;
    color: #dedede;
    padding: 0px 8px;
    margin: auto;
}

blockquote > h1,
blockquote > h2,
blockquote > h3,
blockquote > h4,
blockquote > h5,
blockquote > h6,
blockquote > p {
    margin-top: 2px;
    margin-bottom: 2px;
}

strong {
    color: #ececec;
}
