
@font-face {
    font-family: "IBM Plex Mono";
    src: url("../fonts/IBMPlexMono-Regular.ttf");
}

body {
    text-align: left;
    background-color: #212222;
    margin: auto;
    max-width: 70%;
}
table.center {
    margin-right: auto;
    margin-left: auto;
}
table {
    table-layout: auto;
    border-collapse: collapse;
    border: 3px solid;
}

th, td {
    padding: 7px;
    border: 1px #999 solid;
    border-collapse: collapse;
}


code {
    font-family: "IBM Plex Mono", monospace;
    color: #00B3B3;
    background-color: #1c1f1f;
}

.codeblock {
    font-family: "IBM Plex Mono", monospace;
    display: block;
    box-sizing: border-box;
    color: #00B3B3;
    background-color: #1c1f1f;
    padding: 1px 1px;
}

blockquote {
    border-left: 2px solid #d8d8da;
    color: #dedede;
    padding: 0px 8px;
    border-radius: 4px;
    margin: auto;
}

strong {
    color: #ececec;
}
