@font-face {
    font-family: "Commit Mono";
    src: url("/fonts/CommitMono-VariableFont.woff2");
    font-variation-settings: default;
    font-feature-settings: "cv05", "cv08", "cv10";
}

@font-face {
    font-family: "Monaspace Neon";
    src: url("/fonts/MonaspaceNeonVarVF.woff");
    font-variation-settings: default;
}

:root {
    --main-text-colour: #e1e3e4;
    --main-background-colour: #212222;
    --header-colour: #c4c6c7;
}

::selection {
    color: var(--main-background-colour);
    background-color: var(--main-text-colour);
}

code {
    font-family: "Monaspace Neon";
}

html {
    max-width: 1050px;
    padding-left: 2%;
    padding-right: 3%;
    margin: auto;
}

body {
    font-family: "Commit Mono", monospace; /* */
    text-align: center;
    background-color: var(--main-background-colour);
    color: var(--main-text-colour);
    margin: auto;
}

main > ul{
    text-align: left;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--header-colour);
}

body > h1,
body > h2,
body > h3,
body > h4,
body > h5,
body > h6 {
    border-bottom: solid #7c7c7c;
}

header {
    padding: 5px;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.box > * {
    display: inline-block;
    margin: 8px;
}

a {
    color: #d3d3d3;
    font-weight: bold;
}

header nav div div a {
    text-decoration: none;
}


h1.heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.read-more {
    display: block;
    padding: 1px 2px;
}

footer {
    padding: 20px;
    color: #fff;
    text-align: center;
}

.important {
  font-weight: bold;
  color: red;
}


tr.ani {
    transition: transform ease 0.1s;
}

tr.ani:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translate(-1px, -1px);
}

article {
    background-color: #404040;
    border-radius: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 1%;
    display: block;
    transition: transform ease 0.5s;
}

article.a {
    display: inline;
    width: auto;
    align-items: baseline;
}

article:not(:last-of-type) {
    margin-bottom: 9px;
}

article:hover {
    background-color: #3e3e3e;
}
